<table class="table">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Средняя цена</th>
      <th>Кол-во</th>
      <th>Тек.цена</th>
      <th>Доход / Убыток</th>
    </tr>
  </thead>
  <tbody>
    <tr
        ng-repeat="stock in vm.stocks | filter: vm.statusFilter"
        ng-class="vm.priceHasChanged(stock)">
      <td
          ng-bind="stock.name">
      </td>
      <td
          ng-bind="stock.average | currency:'$'">
      </td>
      <td
          ng-bind="stock.quantity">
      </td>
      <td>
        <button type="button" class="btn btn-default"
            ng-if="stock.isSetPrice"
            ng-click="vm.setPriceState(stock)">Задать цену
        </button>

        <form name="currentPriceForm" role="form">
          <div class="input-group"
              ng-if="stock.isChangePrice">
            <input type="number" class="form-control" placeholder="Цена" autofocus required
                ng-model="stock.newprice">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                  ng-click="vm.changePriceState(stock)"
                  ng-disabled="!currentPriceForm.$valid">Ok
              </button>
            </span>
          </div>
        </form>
        <!-- END OF .input-group -->

        <span title="Кликните для изменения цены"
            ng-if="stock.isNewPrice"
            ng-bind="stock.newprice | currency:'$'"
            ng-click="vm.newPriceState(stock)">
        </span>
      </td>
      <td>
        <span class="bg-warning"
            ng-if="stock.isSetPrice || stock.isChangePrice">Сначала задайте цену
        </span>
        <span
            ng-if="stock.isNewPrice"
            ng-bind="vm.profitCalc(stock) | currency:'$'">
        </span>
      </td>
    </tr>
  </tbody>
</table>
